$black: #001219;
$dark: #00364c;
$darker: #0080b2;
$gray: #a2a2a2;

$primary-color: #00b7ff;
$secondary-color: #ff4800;

$color1: #4cccff;
$color2: #e5f7ff;
$white: #ffffff;

$highlight1: #ffff99;
$highlight2: #ffd300;

$seeThruDark2: rgba($color: $black, $alpha: 0.7);
$seeThruDark1: rgba($color: $black, $alpha: 0.4);

$thin: 300;
$normal: 400;
$bold: 900;

@import url("https://fonts.googleapis.com/css?family=Lato");
$font: "Lato",
sans-serif;

@import url("https://fonts.googleapis.com/css?family=Montserrat");
$font-titles: "Montserrat",
"Lato",
sans-serif;


/* MIXINS */

@mixin easeOut {
  transition: all 0.30s ease-out;
}

@mixin borderTop {
  border-top: 2px solid $darker;
}

@mixin rotate($speed, $duration) {
  -webkit-animation: rotating $speed linear $duration;
  -moz-animation: rotating $speed linear $duration;
  -ms-animation: rotating $speed linear $duration;
  -o-animation: rotating $speed linear $duration;
  animation: rotating $speed linear $duration;

}