@charset "UTF-8";
@import "config";
/* Core Styling */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #fff;
  color: #fff;
  font-size: 1.1em;
  font-family: $font;
  line-height: 1.5;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

hr {
  margin: 0 auto 2em;
  width: 10em;
  border-bottom: 2px solid;
}

h1,
h2,
h3,
  {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

p {
  padding-bottom: 0.6em;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.content-title {
  font-size: 3em;
  font-family: $font-titles;
  font-weight: 400;
}

.btn {
  display: inline-block;
  font-size: 1.3em;
  border: 3px solid;
  margin: 0.5em 0;
  padding: 0.8em 2em;
  text-decoration: none;
  background-color: transparent;
  @include easeOut();

  &.darkBtn {
    color: #000;
  }

  &.btn-resume {
    color: $dark;
    border-color: $dark;
    margin: 2.5em auto;
  }

  &:hover {
    background-color: $color1;
    @include easeOut();
  }
}