// Menu Button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 32px;
    height: 4px;
    margin: 0 0 6px 0;
    background: #000;
    @include easeOut;
  }

  // Animate X lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(7px, 8px);
        background: #fff;
      }

      &:nth-child(2) {
        opacity: 0;
        background: #fff;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
        background: #fff;
      }
    }
  }
}

// Menu

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  font-size: 1.3em;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100vh;
    overflow: hidden;
    border-left: 10px solid $darker;
  }

  &-nav {
    width: 100%;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: $seeThruDark2;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  // Logo side

  &-branding {
    width: 100%;
    position: absolute;
    background: $primary-color;
    opacity: 0.9;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
      @include easeOut;
    }
  }

  .nav-item {
    opacity: 0;
    @include easeOut;
    color: #fff;

    &.show {
      opacity: 1;
      @include easeOut;
    }

    a {
      color: #fff;
      display: block;
      text-decoration: none;

      hr {
        border: 1px 0 0 0;
        border-style: solid;
        border-color: $highlight1;
        width: 2em;
      }
    }

    &.current>a {
      color: $highlight1;
    }
  }

  .nav-link {
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    @include easeOut;

    &:hover {
      color: $highlight1;
    }

    li.soc-icons {
      display: inline-block;
    }
  }
}

// deilay for nav items

@for $i from 1 through 4 {
  .nav-item:nth-child(#{$i}) {
    transition-delay: $i * 0.4s;
  }
}

@media (max-width: 700px) {

  .menu-branding,
  .menu-nav {
    width: 100%;
  }

  .menu-nav {
    background-color: rgba(0, 0, 0, 1);
  }
}