.moveaway {
  z-index: -100;
  position: absolute;
  margin: -500em 0 0 0;
}

.modal {
  background: #fff;
  padding: 0;
  margin: 0;
}

@media (min-width: 43.75em) {
  .modal {
    padding: 0 1.5em;
  }
}

.modal__overlay {
  background: rgba($color: #000, $alpha: 0.9);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
}

.modal__wrap {
  padding: 1em 0;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
}

.modal label {
  background: #fff;
  border-radius: 50%;
  color: $dark;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: 2.1em;
  top: 1.8em;
  width: 1.5em;
}

.modal__wrap h2 {
  font-size: 3em;
  text-transform: uppercase;

  small {
    font-size: 0.6em;
    font-weight: 200;
    line-height: 1em;

    &::before {
      margin: 3em 0 0 -5em;
    }

    &::after {
      margin: -3em 0 0 0;
      right: 0;
    }

    &::before,
    &::after {
      content: "_________";
      font-size: 0.3em;
      color: #fff;
      display: table-cell;
      padding: 0 1.5em;
      vertical-align: middle;
    }
  }
}

.modal__wrap p {
  color: #ffd300;
  text-align: justify;
}

.modal input,
.modal textarea {
  background: transparent;
  border: 1px solid #ccc;
  padding: 0.5em 0.7em;
  margin: 0.5em;
  display: inline-block;
  color: #fff;
  width: 80%;
}

.modal input:focus {
  transform: scale(0.97);

}

.modal__overlay {
  opacity: 0;
  transform: translate3d(0, -20em, 0);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

input:checked~.modal__overlay {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  z-index: 800;
}