.mySlides {
    display: none;
}

.portfolio-arrow {
    width: 4em;
    height: 4em;
    transform: translate(0, -100%);
    position: absolute;
    background-color: $seeThruDark1;
    border: none;
    color: $white;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    &:before {
        content: ' ';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        margin: 0;
        padding: 0;
        position: absolute;
        width: 25px;
        height: 25px;
    }

    &.arrow-left {
        left: 0;

        &:before {
            margin-left: 8%;
            border-bottom: 3px solid $white;
            border-left: 3px solid $white;
        }
    }

    &.arrow-right {
        right: 0;

        &:before {
            margin-right: 8%;
            border-top: 3px solid $white;
            border-right: 3px solid $white;
        }
    }
}