@media (max-width: 699px) {


    #section-a {
        .content-text {
            font-size: 1.2em;

            p {
                padding-top: 0;
            }
        }

        ul {
            min-width: 400px;
            padding: 2em 0 3em 0;
            justify-content: center;
            align-content: center;
            text-align: center;
            display: block;
        }

        li {
            margin: 2em;
            display: inline-block;
        }

        h5.gem__title {
            font-size: 1.1em;
            padding-top: 0.5em;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content-wrap,
    #section-b ul {
        grid-column: 1/4;
    }

    #section-b {
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1em;
            padding: 0 1em;
        }

        .skillset {
            grid-column: 1/4;
        }
    }
}