@import "config";
@import "menu";
@import "paralax";

/* Core Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  background-color: #fff;
  color: #fff;
  font-size: 1.1em;
  font-family: $font;
  line-height: 1.5;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 1em 0;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.btn {
  display: inline-block;
  border: 1px solid;
  margin: 0.5em 0;
  padding: 0.8em 2em;
  color: #fff;
  text-decoration: none;
  &:hover {
    background-color: aquamarine;
    color: #333;
    @include easeOut();
  }
}

/* Header */

#showcase {
  //min-height: 450px;
  height: 100%;
  min-height: 660px;
  position: relative;
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
  .bg-image {
    position: absolute;
    background-image: url("../img/showcasebg2.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(5px);
    width: 120%;
    height: 130%;
    margin: -10% 0 0 -10%;
    z-index: -1;
    opacity: 0.4;
  }
  .content-wrap {
    padding: 0 1em;
    font-size: 5rem;
    h1 {
      text-align: left;
      color: #000;
      padding: 10vh 0;
    }
    small {
      font-size: 0.5em;
    }
  }

  .coffee {
    width: 40%;
    min-width: 600px;
    min-height: 400px;
    margin: 16vh 0 0 37vw;
    position: absolute;
  }
}

/* Section A */

#section-a {
  .content-wrap {
    padding: 0 1em;
  }
  background-color: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/* Section B */

#section-b {
  background-color: #eaeaea;
  color: #333;
  padding: 2em 1em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
  }
}

.card-content {
  padding: 1.5em;
}

/* Section C */

#section-c {
  padding: 2em;
  color: #333;
  background-color: #fff;
}

/* Section D / Boxes */

#section-d .box {
  padding: 2em;
  background-color: #442244;
  &:nth-child(odd) {
    background: #2690d4;
  }
}

/* Footer  */

#main-footer {
  background: #000;
  color: #fff;
  padding: 2em;
  a {
    text-decoration: none;
    color: #2690d4;
  }
}

/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  .box {
    grid-column: span 2;
  }
  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
    p {
      padding-top: 0;
    }
  }
  #section-b ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }
  #main-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

// Animiran scroll - Showcase

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}
