@import "core";
@import "config";
@import "menu";
@import "paralax";
@import "modal";
@import "galerymodal";
@import "portfolio-carousel";
@import "animatecss";


/* Header */
#showcase {
  height: calc(100vh);
  position: relative;
  background-image: linear-gradient(to top right, #000, $darker);
  //background-color: $black;

  .bg-image {
    position: absolute;
    background-image: url("../img/showcasebg.jpg");

    background-blend-mode: darken;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 120%;
    height: 130%;
    margin: -10% 0 0 -10%;
    z-index: -10;
    opacity: 0.1;
  }

  .content-wrap {
    font-size: 3rem;
    width: 100%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: left;
      //font-size: 1.8em;
      font-size: calc(35px + (75 - 35) * ((100vw - 300px) / (1600 - 300)));
      line-height: 1.3em;
      height: 100%;
      font-weight: 500;
    }

    .thinker {
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-size: 0.4em;
      display: block;
      line-height: 1.5em;
      width: auto;
      color: $highlight1;
      font-weight: 400;

      &::after {
        width: 3.8em;
        display: block;
        margin: 0.5em 0;
        content: '';
        border-bottom: 1px solid $highlight1;
      }
    }
  }
}

#section-a,
#section-b,
#section-d {
  @include borderTop;
  padding: 3em 0;
  min-height: calc(100vh);

}

/* Section A */

#section-a {
  background-color: #fff;
  @include borderTop;
  color: $black;

  .content-wrap {
    padding: 0 0.5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .experience {
      text-align: center;


      h3 {
        margin: 0.8em 0 0.2em 0;
        font-weight: normal;
        font-size: 1.6em;
      }

      hr {
        margin-bottom: 1.4em;
      }

      .exp-item {
        margin: 0 0 30px 0;
        padding: 0.5em 0;


        h4 {
          font-weight: 200;
          color: $darker;
          font-size: 1em;
          margin-bottom: 0.4em;
        }

        p {
          line-height: 2em;

          span.role {
            font-size: 1.3em;
          }

          span.company {
            color: $gray;
          }
        }

      }
    }

    ul.services {
      text-align: center;

      li {
        display: inline-block;
        margin: 0.7em;
      }
    }
  }
}

/* Section B - Skills*/

#section-b {
  color: #fff;
  padding: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/tools.jpg");
  background-color: $primary-color;
  background-blend-mode: darken;

  .content-wrap {
    display: flex;
    justify-content: space-between;
  }

  .myicon {
    width: calc(80px + (160 - 80) * ((100vw - 300px) / (1600 - 300)));
    height: calc(54px + (108 - 54) * ((100vw - 300px) / (1600 - 300)));

    &::before {}
  }

  .skillset {
    //grid-column: 2/4;
    padding: 3em 0;

  }

  .skills-holder {

    align-self: center;
    justify-content: space-evenly;
    width: 100%;

  }

  ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    padding: 0 0.5em;
  }

  li {
    margin-bottom: 1em;
    background: $color2;
    color: $dark;
    border-radius: 5%;
    @include easeOut;

    h3 {
      padding: 0.3em 0 1em 0;
    }

    &:hover {
      background-color: $color1;
      @include easeOut;

      img {
        max-width: 60px;
        @include easeOut;
      }
    }

    img {
      max-width: 70px;
      margin: 1em auto;
      @include easeOut;
    }
  }
}

/* Section C - Portfolio */

#section-c {
  @include borderTop;
  background-color: #efefef;
  color: $darker;
  padding: 0;


  ul {
    margin: 0;
    padding: 0;
  }

  li {
    background: #fff;
    color: $darker;
    position: relative;
  }
}

.card:hover .card-content {
  height: 100%;
  background-color: $seeThruDark1;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $seeThruDark2;
  overflow: hidden;
  width: 100%;
  height: 0;
  @include easeOut;

  h3 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


/* Section D - Contact */

#section-d {
  background-image: linear-gradient(to bottom, #000, $darker);
  min-height: 25em;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  .roundingBtn {
    color: #fff;
    grid-column: 2/4;
    height: 6.8em;
    width: 6.8em;
    font-size: 2.2em;
    padding: 0;
    margin: 1em auto;
    font-weight: bold;
    font-family: $font-titles;
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-radius: 20%;
      border-color: transparent;
      color: #000;
      @include easeOut;
    }
  }
}


/* Footer  */

#main-footer {
  background: $dark;
  border-top: #212121 1px solid;
  color: #999;
  padding: 2em;
  font-size: 0.8em;

  a {
    text-decoration: none;
    // color: #2690d4;
    color: #ffff99;
  }

  .footer-left,
  .footer-right {
    padding: 0.5em 0;
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }
}

/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* SMALLER THAN 450px; */

@media (max-width: 700px) {
  #showcase {
    margin: 0;
    padding: 0;

    .content-wrap {

      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      h1 {
        text-align: center;
        line-height: 1.5em;
        margin-bottom: 5em;
      }

      .thinker {
        font-size: 0.5em;

        &::after {
          margin: 0.5em auto;
        }

      }

    }

    .scroll-link {
      //display: none;
    }
  }

  .itsme {
    display: block;
    margin: 0;
    padding: 0;
    margin: 10vh 0 0 0;
  }

  .photo {
    margin: 0 auto;
    position: absolute;
  }

  #main-footer {

    .footer-right,
    .footer-left {
      text-align: center;
    }
  }
}

/* WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX  */

@media (min-width: 700px) {
  .itsme {


    .photo {
      border-radius: 50%;
      border: 10px solid rgba(100, 200, 200, 0.5);
      position: relative;
    }

    h1 {
      grid-column: 2/5;
    }
  }


  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 27em)) 1fr;
  }

  .content-wrap,
  #section-b ul,
  #section-c ul {
    grid-column: 2/4;
  }

  .box {
    grid-column: span 2;
  }

  #section-a {
    .content-text {
      font-size: 1.4em;
      text-align: left;

      //columns: 2;
      //column-gap: 2em;

      p {
        padding-top: 0;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 1em;
      padding: 2em 0 3em 0;
    }

    h5.le-title {
      font-size: 1.3em;
      font-weight: 500;
      padding-top: 0.5em;
    }
  }

  #section-b ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
  }

  #section-c ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/5;
  }

  #main-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

// Animiran scroll mouse - Showcase

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {

  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}



/***/





/* ROTATING */

/* Rotation */

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// .rotating {
//   -webkit-animation: rotating 50s linear infinite;
//   -moz-animation: rotating 50s linear infinite;
//   -ms-animation: rotating 50s linear infinite;
//   -o-animation: rotating 50s linear infinite;
//   animation: rotating 50s linear infinite;
// }

$slowRotate: 50s;
$fastRotate: 0.5s;
$infinite: infinite;
$once: 1;


.square1 {
  position: absolute;
  right: calc(-10vh);
  top: calc(10vh);
  z-index: -8;
  width: calc(40vw);
  height: calc(40vw);
  line-height: 100px;
  text-align: center;
  background-color: $dark;
  border-radius: 25%;
  overflow: hidden;
  @include rotate($slowRotate + 80, $infinite);
  //animation-direction: reverse;
  box-shadow: 0 0 80px 0 rgba(0, 162, 255, 0.7);
}

.square2 {
  position: absolute;
  z-index: -8;
  top: calc(8vh);
  left: calc(-15vh);
  width: calc(55vw);
  height: calc(55vw);
  background-color: $darker;
  border-radius: 25%;
  overflow: hidden;
  @include rotate($slowRotate, $infinite);
  box-shadow: 0 0 120px 0 rgba(0, 8, 121, 0.3);


}

/* Border animation */

.main_box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 25%;
}

.bar {
  position: absolute;
  z-index: 1;
  width: 15%;
  height: 3px;
  background-image: linear-gradient(to right, $color1, #fff);
  transition: all 2s linear;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  box-shadow: 0 0 20px 0 rgba(40, 212, 255, 0.6);

  &.delay {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;

  }
}


.top {
  top: 0;
  left: 0;
}

.right {
  top: 0;
  right: -7.3%;
  transform: rotate(90deg);
}

.bottom {
  bottom: 0;
  left: 0;
}

.left {
  top: 0;
  left: -7.3%;
  transform: rotate(90deg);
}

@-webkit-keyframes h-move {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

@keyframes h-move {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

.top,
.bottom {
  -webkit-animation-name: h-move;
  animation-name: h-move;
}

@-webkit-keyframes v-move {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

@keyframes v-move {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

.right,
.left {
  -webkit-animation-name: v-move;
  animation-name: v-move;
}


@-webkit-keyframes pulsing {
  0% {
    box-shadow: 0 0 10px 0;
  }

  100% {
    box-shadow: 0 0 180px 0;
  }
}

@keyframes pulsing {
  0% {
    box-shadow: 0 0 50px 0 rgba(0, 162, 255, 0.7);
  }

  100% {
    box-shadow: 0 0 120px 0 rgba(0, 162, 255, 0.7);
  }
}

.square12,
.square22 {
  -webkit-animation-name: pulsing;
  animation-name: pulsing;
  transition: all 2s linear;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

}

/* Rotating Square END */