@import "core";
@import "config";
@import "menu";
@import "paralax";
@import "modal";

/* Header */

.itsme {
  margin: 18vh 0 0 0;

  .photo {
    border-radius: 50%;
    width: 5em;
    border: 10px solid rgba(100, 200, 200, 0.5);
    position: relative;
    display: block;
  }
}

#showcase {
  height: 100%;
  min-height: 660px;
  position: relative;

  .bg-image {
    position: absolute;
    background-image: url("../img/showcasebg2.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(5px);
    width: 120%;
    height: 130%;
    margin: -10% 0 0 -10%;
    z-index: -1;
    opacity: 0.4;
  }

  .content-wrap {
    padding: 3em 0.5em 0 0.5em;
    font-size: 3rem;
    width: 100%;

    h1 {
      grid-column: 2/5;
      text-align: left;
      color: $black;
      padding: 0;
      margin: 0;
    }

    ul.thinker {
      font-size: 0.6em;
      color: $black;
      grid-column: 1/5;
      margin-top: 0.4em;

      li {
        display: inline-block;
        margin: 0.4em 0.2em 0 0.2em;
      }
    }
  }
}

#section-a,
#section-b,
#section-c,
#section-d .box {
  @include borderTop;
  padding: 1.5em 0 3em 0;
}

/* Section A */

#section-a {
  background-color: #fff;
  @include borderTop;
  color: $darker;

  .content-wrap {
    padding: 0 0.5em;

    ul.services {
      text-align: center;

      li {
        display: inline-block;
        margin: 0.7em;
      }
    }
  }
}

/* Section B */

#section-b {
  color: #fff;
  padding: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/tools.jpg");
  background-color: $primary-color;
  background-blend-mode: darken;

  .skillset {
    grid-column: 2/4;
  }

  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5em;
    padding: 0 0.5em;
  }

  li {
    margin-bottom: 1em;
    background: #fff;
    color: $darker;
    border-radius: 5%;
    @include easeOut;

    &:hover {
      background-color: $color1;
      @include easeOut;

      img {
        max-width: 60px;
        @include easeOut;
      }
    }

    img {
      max-width: 70px;
      margin: 1em auto;
      @include easeOut;
    }
  }
}

/* Section C */

#section-c {
  padding: 2em;
  color: $darker;
  background-color: #fff;
}

/* Section D / Boxes */

#section-d {
  background: rgba($color: $black, $alpha: 1) url("../img/coffee-bg.jpg") center
    bottom no-repeat;
  min-height: 25em;

  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Section e */

#section-e {
  @include borderTop;
  background-color: #efefef;
  color: $darker;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    background: #fff;
    color: $darker;
    position: relative;
  }
}

.card:hover .card-content {
  height: 100%;
  background-color: $seeThruDark1;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $seeThruDark2;
  overflow: hidden;
  width: 100%;
  height: 0;
  @include easeOut;

  h3 {
    color: white;
    // font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* Footer  */

#main-footer {
  background: $dark;
  border-top: #212121 1px solid;
  color: #999;
  padding: 2em;
  font-size: 0.8em;

  a {
    text-decoration: none;
    // color: #2690d4;
    color: #ffff99;
  }

  .footer-left,
  .footer-right {
    padding: 0.5em 0;
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }
}

/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* Media Queries  Media Queries  Media Queries  Media Queries  Media Queries */
/* SMALLER THAN 450px; */

@media (max-width: 700px) {
  #showcase {
    margin: 0;
    padding: 0;

    .content-wrap {
      width: 100%;
      display: block;
      padding: 0;

      h1 {
        text-align: center;
        font-size: 1.2em;
      }
    }

    .scroll-link {
      display: none;
    }
  }

  .coffee {
    display: none;
  }

  .itsme {
    display: block;
    margin: 0;
    padding: 0;
    margin: 10vh 0 0 0;
  }

  .photo {
    margin: 0 auto;
    position: absolute;
  }

  #main-footer {
    .footer-right,
    .footer-left {
      text-align: center;
    }
  }
}

/* WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX 
 WIDER  THAN 700PX  */

@media (min-width: 700px) {
  .itsme {
    margin: 18vh 0 0 0;

    .photo {
      border-radius: 50%;
      border: 10px solid rgba(100, 200, 200, 0.5);
      position: relative;
    }

    h1 {
      grid-column: 2/5;
    }
  }

  .coffee {
    width: 35%;
    min-width: 600px;
    min-height: 400px;
    margin: 17vh 0 0 34vw;
    position: absolute;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .content-wrap,
  #section-b ul,
  #section-e ul {
    grid-column: 2/4;
  }

  .box {
    grid-column: span 2;
  }

  #section-a {
    .content-text {
      font-size: 1.2em;
      columns: 2;
      column-gap: 2em;

      p {
        padding-top: 0;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 1em;
      padding: 2em 0 3em 0;
    }

    h5.gem__title {
      font-size: 1.1em;
      padding-top: 0.5em;
    }
  }

  #section-b ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
  }

  #section-e ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/5;
  }

  #main-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

// Animiran scroll mouse - Showcase

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}
